.Header{
    display: flex;
    position: relative;
    background-color: yellow;   
}
.Name{
    margin-top: 10px;
    padding-left: 10px;
    width: auto;
    font-weight: 600;
}
.Addfriend{
    background-color: aliceblue;
    position: absolute;
    right: 0;   
    width: 15%; 
}
.IconAddfriend{
    color:green;
    font-size: 1.8rem;
    position: absolute;
    right: 0;
}
.CrudPost{
    height: 40px;
    width: 40px;
    background-color: rebeccapurple;
    right: 10px;
    border-radius:50% ;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
