.OuterBody{
    background-color: green;
    margin: 5px auto;
    box-sizing: border-box;
    height: auto;
}
.imagecontainer{
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
    background-color: yellow;
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.imageTag{
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

}
.captionPara{
    margin: 10px auto;
    width: 95%;
    font-weight: 400;
}   
