.outerMostdiv{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border-radius: 10px;
    /* background-color: aquamarine; */ 
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    border: #a1a3a5 1px solid;
}
.headingContainer{
    height: 50px;
    width: 100%;
    /* border-top-left-radius: 10px;
    border-top-right-radius:10px; */
    /* background-color: rebeccapurple; */
    overflow: hidden;
    border-bottom: #a1a3a5 1px solid;
}
.heading{
    width: 90%;
    margin: 10px auto;
}
.content{
    min-height: 100px;
    height: auto;
    background-color: #FDFEFF;
    /* border-bottom-right-radius:10px ; */
    padding: 10px;
    display: flex;
}
.contentdivone{
    width: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.KeyIcon{
    font-size: 1.7rem;
    color: #a1a3a5;
}
.contentdivtwo{
    width: 80%;
    
    padding-top: 10px;
    color: #7D7E80;
    /* background-color: bisque; */
}
.contentdivtwo>h4{
    color: black;
    margin: 10px 0px 0px 0px;
} 
.contentdivthree{
    width: 10%;
    /* background-color: red; */
}
.contentdivthree button{
    font-size: 1rem;
    width: 60px;     
    border-radius: 5px;
    border: 1px solid grey;
    color: #7d7e80;
    font-weight: 400;
    margin: 20px 0px 0px 10px;
}
.contentdivthree p:hover{
    background-color: #F5F6F7;
}