.outerMostdiv{
    width: 90%;
    height: 200px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: aquamarine;
    box-sizing: border-box;
}
.headingContainer{
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    background-color: rgb(63, 65, 66);
    overflow: hidden;
}
.heading{
    width: 90%;
    margin: 10px auto;
}
.content{
    min-height: 150px;
    height: auto;
    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 100px;
    display: flex;
}
.contentdivone{
    width: 20%;
    
}
.contentdivtwo{
    width: 60%;
}
.contentdivthree{
    width: 20%;
}