.outerMostdiv{
    width: 90%;
    height: 200px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: aquamarine;
    box-sizing: border-box;
}
.headingContainer{
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    background-color: rgb(63, 65, 66);
    overflow: hidden;
}
.heading{
    width: 90%;
    margin: 10px auto;
}
.content{
    min-height: 100px;
    height: auto;
    background-color: blueviolet;
    padding: 10px;
    display: flex;
}
.contentdivone{
    width: 10%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.KeyIcon{
    font-size: 1.7rem;
    color: #F5F6F7;
}
.contentdivtwo{
    width: 80%;
    background-color: bisque;
}
.contentdivtwo>h4{
    margin: 10px 0px 0px 0px;
} 
.contentdivthree{
    width: 10%;
    background-color: red;
}
.contentdivthree button{
    font-size: 1.1rem;
    width: 60px;     
    border-radius: 5px;
    border: 1px solid grey;
    color: #7d7e80;
    font-weight: 400;
    margin: 20px 0px 0px 10px;
}
.contentdivthree p:hover{
    background-color: #F5F6F7;
}