.forum{
    width: 100%;
    max-width: 270px;
    max-height: 20  0px;
    padding: 20px 10px;
    background-color: #F2F2F2;
    margin: 0px auto;    
}
.headingOftheForm{
    text-align: center;
    color: #0D8AF0;
}
.inputData{
    font-size: 1rem;
    padding: 5px  10px;
    display: block;
    margin: 10px auto;
    width: 60%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.BtncontainerUpdatename{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.updatenameSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D8AF0;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: whitesmoke;
    border: 1px solid rgb(79, 80, 79);
    width: 60px;
    padding: 5px 20px;
}
.updatenamecancel{
    background-color: #cacaca;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    border:none;
    padding: 10px;
}