.forum{
    margin: 0px auto;
    width: 70%;
}

.inputContainer{
    width: 100%;
    position: relative;
}
.inputData{
    font-size: 1rem;
    padding: 5px  10px;
    display: block;
    margin: 10px auto;
    width: 70%;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.ConatinerINputAndICon{
    position: relative;
}
.eye{
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 15%;
    color: #BFC2C6;
}
